<!DOCTYPE html>

<html> 
       <head>
	          <title>TODO|Dashboard</title>
       </head>
    
       <body>
              <form method="POST" action="/store">
			  
			          <table>
					            <tr>
								     <td>Title:</td>
									 <td><input type="text"name="title"></td>
								</tr>
								
								<tr>
								     <td>Details:</td>
									 <td><input type="text"name="details"></td>
								</tr>
					  </table>
					            <tr> 
								     <td>Date:</td>
									 <td><input type="date"name="date"></td>
								</tr>
								
								<tr>
								     <td><input type="submit" name="send"value="Create"></td>
								</tr>
					  </table>
			  </form>
       </body>
    
</html>


