<!DOCTYPE html>


<html> 
    <head>
	       <title>Bankdata|Accounts</title>
           
    </head>
    
    <body>
             <form method="POST" action="/store">
         			 <table>
					        <tr>
							      <td>Account_No:</td>
								  <td><input type="text"name="Account_No"></td>								  
						    </tr>
							
							<tr>
							      <td>Customer_Id:</td>
								  <td><input type="text"name="Customer_Id"></td>
							</tr>
							
							<tr>
							      <td>Name_of_the_Customer:</td>
								  <td><input type="text"name="Name_of_the_Customer"></td> 
                            </tr>
							
							<tr>
							      <td>Contact_No:</td>
								  <td><input type="text"name="Contact_No"></td> 
						    </tr>
							<tr>
							      <td>Account_Balance:</td>
								  <td><input type="text"name="Account_Balance"></td> 
						    </tr>
							<tr>
							      <td>Account_Type:</td>
								  <td><input type="text"name="Account_Type"></td> 
						    </tr>
							<tr>
							      <td>Status:</td>
								  <td><input type="text"name="Status"></td> 
						    </tr>
							<tr>   
								  <td><input type="submit" name="send"value="Create"></td> 
							</tr>
							
				    </table>
		    </form>
      </body>
    
</html>
